<div class="bdContainer">
  <div class="post">
    <mat-list>
      <mat-list-item>제목 : {{postDetail?.postInfo?.post_title}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>작성자 : {{postDetail?.postInfo?.author}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>내용 : {{postDetail?.postInfo?.post_body}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div *ngIf="(loginService?.session && (postDetail?.postInfo.author === loginService?.session.id)) || (loginService?.session && loginService?.session.admin)">
      <button mat-raised-button (click)="modifyPost()">수정</button>
      <button mat-raised-button (click)="deletePost()">삭제</button>
    </div>
    <div>
      <button mat-raised-button (click)="backToList()">목록으로</button>
    </div>
  </div>

  <div class="commentForm">
    <mat-form-field [formGroup]="commentForm">
      <div class="toController">
        <p id="commentTo" style="color: red;" [innerHTML]="commentTo"></p>
        <button mat-flat-button type="button" 
          (click)="removeSet()" class="removeSet" *ngIf="commentTo">x</button>
      </div>
      <input matInput placeholder="comment" formControlName="comment" required>
    </mat-form-field>
      <button mat-flat-button class="commentFormButton" 
        (click)=onCommentSubmit()>submit</button>
  </div>

  <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <div (click)="setTo(node.data)">
        <span style="color: red; margin-right: 5px;" *ngIf="node.data?.author">
          ㄴ{{node.data?.author}}에게
        </span>{{node.data?.comment_body}} 작성자 : {{node.data?.comment_author}} | {{node.data?.date}}
      </div>
      <button mat-flat-button *ngIf="(loginService?.session && loginService?.session?.admin) || (loginService?.session &&(loginService?.session?.id === node.data?.comment_author))"
        (click)="deleteComment(node.data?.comment_id)">
        x
      </button>
    </mat-tree-node>
    
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.data">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div (click)="setTo(node.data)">
        <span style="color: red; margin-right: 5px;" *ngIf="node.data?.author">
          ㄴ{{node.data?.author}}에게
        </span>{{node.data?.comment_body}} 작성자 : {{node.data?.comment_author}} | {{node.data?.date}}
      </div>
      <button mat-flat-button *ngIf="(loginService?.session && loginService?.session?.admin) || (loginService?.session &&(loginService?.session?.id === node.data?.comment_author))"
      (click)="deleteComment(node.data?.comment_id)">
        x
      </button>
    </mat-tree-node>

  </mat-tree>
</div>