<div class="container">
  <div id="cssmenu">
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li *ngFor="let board of boardService.boardList">
        <a [routerLink]="['/board', board.board_id]">{{board.board_name}}</a>
      </li>
        <li *ngIf="loginService.session?.admin">
          <a [routerLink]="['/admin']">adminpage</a>
        </li>
        <li *ngIf="loginService.session?.isValid">
          <a [routerLink]="['/']" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!loginService.session?.isValid">
          <a [routerLink]="['user']">Login</a>
        </li>
    </ul>
  </div>
</div>