<div class="mainContainer">
    <div class="home">
        <div *ngIf="loginService.session?.isValid">
            <mat-list>
                <mat-list-item>Welcome : {{loginService.session.id}}</mat-list-item>
            </mat-list>
        </div>

        <div *ngIf="!loginService.session?.isValid">
            <mat-list>
                <mat-list-item>Please Login</mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="footer">    
        <div id="chatLogs" class="chat_logs">
            <ul *ngFor="let chats of loginService.chat">
                <div *ngIf="chats.author === loginService?.session?.id" >
                    <li style="text-align: right; color: red;">
                        {{chats.author}}
                    </li>
                    <mat-card class="right">
                        {{chats.body}}
                    </mat-card>
                </div>
                <div *ngIf="!(chats.author === loginService?.session?.id)" >
                    <li style="text-align: left;">
                        {{chats.author}}
                        <mat-card>
                            {{chats.body}}
                        </mat-card>
                    </li>
                </div>
            </ul>
        </div>
        <div *ngIf="loginService?.session && loginService.session.isValid; else needLogin">
            <form action="#">
                <div>
                    <label>Message: </label>
                    <mat-form-field>
                        <input matInput type="text" class="form-control" id="msgForm" required>
                    </mat-form-field>
                    <button mat-flat-button type="button" id="messageButton">send</button>
                </div>
            </form>
        </div>
        <ng-template #needLogin>
            <p>로그인이 필요한 서비스입니다.</p>
        </ng-template>
    </div>
</div>