<div class="mainContainer">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="제목" required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="15" formControlName="body" placeholder="내용" required></textarea>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button type="submit">저장</button>
            <button mat-raised-button type="button" (click)="goBack()">취소</button>
        </div>
    </form>
</div>