<div class="chatter">    
    <div id="chatLogs" class="chat_logs">
        <ul *ngFor="let chats of loginService.chat">
            <div *ngIf="chats.author === loginService?.session?.id" >
                <li mat-list style="text-align: right; color: red; margin-right: 5px;">
                    {{chats.author}}
                </li>
                <mat-card class="right">
                    {{chats.body}}
                </mat-card>
            </div>
            <div *ngIf="!(chats.author === loginService?.session?.id)" >
                <li style="text-align: left; margin-left: 5px;">
                    {{chats.author}}
                </li>
                <mat-card>
                    {{chats.body}}
                </mat-card>
            </div>
        </ul>
    </div>
    <div *ngIf="loginService?.session && loginService.session.isValid; else needLogin">
        <form action="#">
            <div>
                <label>Message: </label>
                <mat-form-field>
                    <input matInput type="text" class="form-control" id="msgForm" required>
                </mat-form-field>
                <button mat-flat-button type="button" id="messageButton">send</button>
            </div>
        </form>
    </div>
    <ng-template #needLogin>
        <p>로그인이 필요한 서비스입니다.</p>
    </ng-template>
</div>