ul, li{ 
    list-style:none;
    padding:0;
    margin:0;
}
#mainWrapper{
    display: flex;
    flex-direction: column;
}
#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size:14pt;
  height:40px;
  vertical-align:middle;
  margin-top: 10px;
}
